<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="upbeatsheep.CommuteAlarm" android:versionCode="3" android:versionName="0.6">
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/UpbeatSheep">
		<uses-library android:name="com.google.android.maps" />

		<activity android:name="Alarms" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.upbeatsheep.alarms" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.upbeatsheep.alarms" />
			</intent-filter>
		</activity>
		<activity android:name="Alarm" android:launchMode="singleTop">
			<intent-filter android:label="Edit Alarm">
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.upbeatsheep.alarms" />
			</intent-filter>
			<intent-filter android:label="Delete Alarm">
				<action android:name="android.intent.action.DELETE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.upbeatsheep.alarms" />

			</intent-filter>

		</activity>
		<activity android:name="Splash"
			android:theme="@android:style/Theme.Light.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<provider android:name="upbeatsheep.providers.CommuteAlarmProvider"
			android:authorities="upbeatsheep.providers.CommuteAlarm"></provider>
		<activity android:name="LocationPicker" android:label="Did you mean?"
			android:icon="@drawable/icon" android:logo="@drawable/icon" android:finishOnTaskLaunch="true">
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.upbeatsheep.alarms" />
			</intent-filter>
		</activity>
		<service android:name="AlarmService"></service>
		<activity android:name="LocalServiceBinding"></activity>
		<activity android:name="LocalServiceController"></activity>
		<receiver android:name="AlarmReceiver">
			<intent-filter>
				<data android:mimeType="vnd.android.cursor.item/vnd.upbeatsheep.alarms"></data>
				<action android:name="upbeatsheep.CommuteAlarm.intent.action.NOTIFY"></action>
			</intent-filter>
		</receiver>

	</application>
</manifest>